{% extends 'front/_base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block main %}
    <article>
        <h3>Contactez-nous</h3>
        <form id="s2do-form" action="#" method="POST">
            <p class="form-group">
                <label for="name">Nom</label>
                <input type="text" name="nom" class="form-control" id="name" required>
            </p>
            <p class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" required>
            </p>
            <p class="form-group">
                <label for="message">Message</label>
                <textarea name="message" class="form-control" id="message" required></textarea>
            </p>
            <p class="text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-rocket"></i>
                    Envoyer
                </button>
            </p>
        </form>
    </article>
{% endblock %}

{% block bottom_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://s3.amazonaws.com/stacktodoapi/0_0_4/stacktodo_full.min.js"></script>
    <script type="text/javascript">new window.stacktodo.ui.SlackForm(document.getElementById('s2do-form'), { form: 'd0dbab76-2ebb-469a-92c0-303954626825' });</script>
{% endblock %}