{% extends 'front/_base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block main %}
    <article>
        <h3>Contactez-nous</h3>
            <h4>Mail</h4>
            ping@lghs.be
            <h4>Adresse</h4>
            Quai de la Dérivation 54,<br />
            4020 Liège
            <h4>Plus...</h4>
            <a href="http://wiki.lghs.be/contact" />http://wiki.lghs.be/contact</a>
       
    </article>
{% endblock %}

{% block bottom_scripts %}
    {{ parent() }}
{% endblock %}
