nav.social {
  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;

      a {
        display: inline-block;
        //@include hexagon(48px, $brand-primary);
        color: #fff;
        background-color: $brand-primary;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 5px;
        border-radius: 200px;

        i {
          vertical-align: middle;
          line-height: 1em;

          &:before {
            font-size: 1.3rem;
          }
        }

        &:hover {
          background-color: #000;
        }
      }
    }
  }
}