footer#page-footer {
  margin: 100px auto 0;
  position: relative;
  padding-top: 1rem;
  text-align: center;

  p {
    font-size: $font-size-small;
    margin-bottom: .5em;
  }

  nav.social {
    margin-top: 1rem;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    width: 100%;
    max-width: 200px;
    height: 1px;
    background-color: $text-color;
  }
}