main#page-main {
  margin: 0 auto;
  //padding: 2rem 0;

  article {
    margin-bottom: 1.5rem;
    line-height: 1.6;

    h3 {
      font-weight: bold;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-size: $font-size-base;
      background-color: $header-background-color;
      color: $header-color;
      padding: .7em 1em;
      margin-top: 0;
      line-height: 1.3;
    }

    h4, h5 {
      font-weight: bold;
      margin-bottom: .3em;
    }

    p {
      margin-bottom: .5rem;
      font-size: 1rem;

      img {
        max-width: 100%;
        height: auto;
      }

      &.small {
        font-size: 0.9em !important;
      }
    }

    ul.pretty-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: .5em 0;
        border-bottom: solid lighten(#000, 50%) 1px;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}