header#page-header {
  text-align: center;
  padding: 50px 0;
  position: relative;

  .content {
    margin: 0 auto;
    text-indent: -9000px;
    background: url(../svg/logo.svg) no-repeat center center;
    max-width: 90%;
    background-size: contain;
    height: 125px;

    @media(min-width: $screen-xs-min) {
      max-width: 100%;
      width: 100%;
      //height: auto;
      //height: 180px;

      @media(min-width: $screen-sm-min) {
        //height: 270px;
      }
    }

    h1, h2 {
      margin: 0;
      padding: 0;
    }
  }

  // border
  //&:before {
  //  content: '';
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  height: 1px;
  //  background-color: #000;
  //}
}