header#page-header {
  padding: 50px 0;
  position: relative;

  #logo {
    background: url(../svg/logo.svg) no-repeat center center;
    max-width: 90%;
    background-size: contain;
    height: 125px;
    margin: 0 auto;

    @media(min-width: $screen-xs-min) {
      max-width: 100%;
      width: 100%;

      @media(min-width: $screen-sm-min) {
        margin: 0 auto;
        background-position: center left;
      }
    }

    h1, h2 {
      margin: 0;
      padding: 0;

      a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        text-indent: -9000px;
      }
    }
  }

  nav#main-nav {
    margin-top: 40px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;

      @media(min-width: $screen-sm-min) {
        text-align: right;
      }

      li {
        display: inline;

        a {
          display: inline-block;
          text-transform: uppercase;
          color: #000;
          padding: 7px 15px;
          font-weight: bold;

          &:hover,
          &:active {
            background-color: #000;
            color: #fff;
            text-decoration: none;
          }
        }

        &.active {
          a {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }
}