<aside class="col-sm-4">
    {% block aside %}
        <article>
            <h3>Wiki</h3>
            <p>
                Un Wiki est disponible, vous pouvez y retrouver entre autres les projets, nos statuts, PV de réunion, un début de guidelines et de R.O.I.
            </p>
            <p>
                <a href="http://wiki.lghs.be" title="Voir notre Wiki">
                    → C'est par ici.
                </a>
            </p>
        </article>
        <article>
            <h3>Heures d'ouverture</h3>
            <p>
                <del>Le mercredi: de 18h30 à 23h</del> <br>
                <del>Le samedi: de 13h à 19h</del>
            </p>
{#            <p>#}
{#                Ouvert:#}
{#                {% if scheduler.isOpened %}#}
{#                    <span class="label label-success">OUI</span>#}
{#                {% else %}#}
{#                    <span class="label label-danger">NON</span>#}
{#                {% endif %}#}
{#            </p>#}
            <p>
                Visiteur? Nouveau? Il recommandé de nous prévenir de votre visite afin que nous puissions vous accueillir dans les meilleurs conditions possibles. (Mail, Facebook, Twitter,...)
            </p>
        </article>
        <article>
            <h3>Le lieu</h3>
            <p>
                <a href="https://www.openstreetmap.org/?mlat=50.64189&mlon=5.59001#map=19/50.64189/5.59001&layers=N" title="Voir le plan sur OpenStreetMap">
                    <img src="./dist/images/map.jpg" alt="Plan d'accès au lieu" title="Accéder à LgHS">
                </a>
            </p>
            <h4>Liege Hackerspace</h4>
            <p>
                Quai de la Dérivation 54, 4020 Liège.
            </p>
            <h4>Comment s'y rendre</h4>
            <h5>En bus</h5>
            <p>
                Ligne 17, arrêt BRESSOUX Pont (15min/13stops),<br>
                Ligne 4, arrêt LIEGE Place du Congrès (17min/15stops).
            </p>
            <h5>En train</h5>
            <p>
                Arrêt SNCB Gare des Guillemins ensuite prendre le bus.<br><br>
                Quai B - Ligne 4, arrêt LIEGE Place du Congrès (17min/15stops)<br>
                Ou: Quai C - Ligne 17, arrêt BRESSOUX Pont (15min/13stops)<br>
            </p>
        </article>
    {% endblock %}
</aside>
