<footer id="page-footer">
    <p>
        <strong>MAIL:</strong> ping[at]lghs.be
    </p>
    <p>
        <strong>IRC:</strong> #LgHS @ Freenode
    </p>
    <p>
        <strong>Numéro BCE:</strong> 0649.448.256
    </p>
    <p>
        <strong>Compte:</strong> BE59 5230 8080 5826
    </p>
    <nav class="social">
        <ul class="list-unstyled">
            <li class="facebook">
                <a href="https://www.facebook.com/liegehackerspace/" title="Notre page Facebook">
                    <i class="fa fa-facebook"></i>
                    <span class="hidden">Facebook</span>
                </a>
            </li>
            <li class="twitter">
                <a href="https://twitter.com/LgHackerSpace" title="Notre compte Twitter">
                    <i class="fa fa-twitter"></i>
                    <span class="hidden">Twitter</span>
                </a>
            </li>
            <li class="github">
                <a href="https://github.com/LgHS" title="Nos repos sur Github">
                    <i class="fa fa-github"></i>
                    <span class="hidden">Github</span>
                </a>
            </li>
            <li class="spaceapi">
                <a href="//lghs.be/api/" title="Notre SpaceAPI">
                    <i class="fa fa-space-shuttle"></i>
                    <span class="hidden">SpaceAPI</span>
                </a>
            </li>
        </ul>
    </nav>
</footer>
