<header id="page-header">
    <div class="row">
        <div class="col-sm-6">
            <div id="logo">
                <h1><a href="/" title="Retour à la page d'accueil">Liege Hackerspace</a></h1>
                <h2><a href="/" title="Retour à la page d'accueil">Learn \ Make \ Share</a></h2>
            </div>
        </div>
        <div class="col-sm-6">
            <nav id="main-nav">
                <ul>
                    <li class="{% if app.request.get('_route') == 'app_front_home' %}active{% endif %}">
                        <a href="{{ path('app_front_home') }}" title="Retour à la page d'accueil">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="http://wiki.lghs.be/projets:start" title="Voir la liste des projets">
                            Projets
                        </a>
                    </li>
                    <li>
                        <a href="http://wiki.lghs.be" title="Voir notre wiki">
                            Wiki
                        </a>
                    </li>
                    <li>
                        <a href="https://chat.lghs.be/" title="Rocket Chat">
                            RocketChat
                        </a>
                    </li>
                    <li>
                        <a href="https://members.lghs.be/" title="Espace membres">
                            Login
                        </a>
                    </li>                    
                    <li class="{% if app.request.get('_route') == 'app_front_contact' %}active{% endif %}">
                        <a href="{{ path('app_front_contact') }}" title="Contactez-nous">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
