<nav id="top-nav">
  <ul>
    <li>
      <a href="https://asciimaton.lghs.be/" title="ASCIIMaton">
        ASCII Maton
      </a>
    </li>
     <li>
      <a href="https://matematrix.lghs.be/" title="Mate-Matrix">
        Mate Matrix
      </a>
    </li>
    <li>
      <a href="https://chat.lghs.be/" title="Rocket Chat">
        <i class="fa fa-commenting-o"></i>
        Rocket Chat
      </a>
    </li>
    <li>
      <a href="https://members.lghs.be/" title="Espace membres">
        <i class="fa fa-sign-in"></i>
        Login
      </a>
    </li>
  </ul>
</nav>
