<div class="row">
  <div class="col-sm-6">
    <div id="logo">
      <h1><a href="/" title="Retour à la page d'accueil">Liege Hackerspace</a></h1>
      <h2><a href="/" title="Retour à la page d'accueil">Learn \ Make \ Share</a></h2>
    </div>
  </div>
  <div class="col-sm-6">
    <nav id="main-nav">
      <ul>
        {{ range .Site.Menus.main.ByWeight }}
        <li>
          <a href="{{ .URL }}" title="{{ .Title }}">
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>
