html {
  font-size: $font-size-base;

  //@media(min-width: $screen-md-min) {
  //    font-size: 18px;
  //}

  body {
    padding-bottom: 100px;

    & > .container {
      position: relative;
    }

    // border
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 10px;
      background: url(../svg/tooth.svg) repeat-x top left;
    }
  }
}