$headings-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-base: 'Open Sans', Helvetica, Arial, sans-serif;

$text-color: #414141;
$brand-primary: #449BA2;

$font-size-base: 16px;
$font-size-h1: 1.875rem; // 30px
$font-size-h2: 1.5rem; // 24px
$font-size-h3: 1.25rem; // 20px
$font-size-h4: 1.125rem; // 18px;
$font-size-h5: 1rem;
$font-size-h6: 1rem;